[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
attrs = "*"
certifi = "*"
chardet = "*"
idna = "*"
jsonschema = "*"
more-itertools = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pyrsistent = "*"
pytest = "*"
pytest-env = "*"
pytest-html = "*"
pytest-metadata = "*"
six = "*"
tqdm = "*"
urllib3 = "*"
wcwidth = "*"
xlrd = "*"

[requires]
python_version = "3.8"
